section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    a {
        justify-self: end;
        align-items: center;
        gap: 8px;

        &:hover span {
            color: var(--brand-color-light);
        }
    }
}

#featured {
    grid-area: featured;
    img {
        height: 100%;
        object-fit: cover;
    }
}

#weekly {
    grid-area: weekly;

    &>div {
        grid-template-columns: repeat(4, 292px);
    }

    img {
        height: 160px;
    }

    strong {
        font-weight: var(--h3);
    }

    figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        p {
            margin-top: 8px;
            font-weight: 800;
        }
    }
}

#highlight {
    grid-area: highlight;

    img {
        width: 176px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-block: 8px 4px;
    }

    strong {
        font-weight: var(--h3);
    }
}

aside {
    grid-area: aside;
}

#more {
    margin-top: 32px;

    /* div:nth-child(1) {
        width: 72px;
    } */

    img {
        width: 72px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-top: 8px;
    }

    strong {
        font-weight: var(--h3);
    }
}