* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-light: #a74687;
    --brand-color-dark: #d3a98d;
    --bg-color: #49285b;
    --stroke-color: #180323;
    --text-color-primary: #f5e2ea;
    --text-color-secundary: #e9d4de;

    --font-family: "Archivo", sans-serif;
    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/160% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-primary);
    background-color: var(--bg-color);
}

.container {
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color-light);
}

h1, h2, h3 {
    font: inherit;
}

#primary {
    padding-block: 20px;

    div {
        display: flex;
        align-items: center;
        gap: 8px
    }

    /* nesting css */
    div:nth-child(2) {
        margin-inline: auto;
        
        img {
            height: 60px;
        }
    }

    div:nth-child(3) {
        justify-self: end;
    }
}

#secondary {
    padding-block: 14px;
    border: 1px solid var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}

main {
    margin-top: 40px;
}

main img {
    width: 100%;
}